shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
# node 版本限制
engine-strict = true

registry=https://registry.npmmirror.com
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
